@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt</h2>

<address>
    Michał Kapela<br />
    Dębnica 62, 62-270 Kłecko<br />
    <abbr title="Numer telefonu">Tel:</abbr>
    883-927-773
</address>

<address>
    <strong>Wsparcie Techniczne:</strong>   <a href="mailto:michal.kapela@yahoo.com">michal.kapela@yahoo.com</a><br />
    <strong>Dystrybucja:</strong> <a href="mailto:michal.kapela@yahoo.com">michal.kapela@yahoo.com</a>
</address>