@{
    ViewBag.Title = "Stona Główna";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display -4">Cześć,</h1>
        <p class="lead">Na tej stronie znajdziesz informacje na temat zawodów jeździeckich w sokach przez przeszkody, które zostały rozegrane za pomoca systemu HorseTournament. W zakładce "Bierzace Zawody" możesz znaleźć listy startowe razem z wynikami na bierząco. W pozostałych zakładkach znajdziesz wyniki już rozegranych zawodów.</p>
    </div>
</div>

